/output
/wandb
/datasets
/.vscode
/teacher_outputs
/ubteacher/__pycache__
/ubteacher/checkpoint/__pycache__
/ubteacher/data/__pycache__
/ubteacher/layers/__pycache__
/ubteacher/modeling/__pycache__
/ubteacher/modeling/fcos/__pycache__
/ubteacher/modeling/backbone/__pycache__
/ubteacher/modeling/roi_heads/__pycache__
/ubteacher/modeling/meta_arch/__pycache__
/ubteacher/modeling/proposal_generator/__pycache__
/ubteacher/evaluation/__pycache__
/ubteacher/solver/__pycache__
/ubteacher/utils/__pycache__
/ubteacher/engine/__pycache__
/ubteacher/data/transforms/__pycache__
objectness_data
session_data
